html, body {
  max-width: 100%;
  overflow-x: hidden;
  background: white;
  height: 100%; }

body {
  padding-top: 63px;
  color: #777; }
  body .main {
    padding-bottom: 60px;
    min-height: 100%;
    margin: 0px 50px; }
  body footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 11px;
    background: #000000;
    height: 60px;
    position: relative;
    margin-top: -60px; }
    body footer li {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

table caption {
  padding: 8px;
  font-weight: bold; }

table td, table th {
  text-align: center; }

table input {
  width: 100%;
  background: transparent;
  border: none; }

textarea {
  width: 100%;
  height: 70px;
  background: transparent; }

/*==============================colours==============================*/
/* $income_background: #B0FFC5; */
/* $expense_background: #FFD6C8; */
/* $income_background: $light_blue;
$expense_background: $light_blue; */
.fa {
  font-size: 24px; }

.pointer {
  cursor: pointer; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.margin-bottom {
  margin-bottom: 15px; }

.block {
  display: block; }

.my-input {
  width: 0%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px; }
  .my-input:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.my-btn {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 14px;
  height: 34px;
  padding: 6px 12px; }
  .my-btn:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    border: 1px solid black; }
  .my-btn:focus {
    outline: thin dotted;
    outline-offset: -2px; }
  .my-btn:hover, .my-btn:focus, .my-btn:active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333; }

.my-input-group input, .my-input-group button {
  display: block;
  width: 100%; }

.my-btn-group {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }
  .my-btn-group button {
    display: block;
    width: 100%; }

.flex-parent {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }
  .flex-parent .flex-grow-1 {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1; }
  .flex-parent .flex-grow-2 {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-grow: 2; }
  .flex-parent .flex-basis-xs {
    -ms-flex-preferred-size: 20px;
    flex-basis: 20px;
    -webkit-flex-basis: 20px; }
  .flex-parent .flex-basis-sm {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    -webkit-flex-basis: 40px; }
  .flex-parent .flex-basis-md {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    -webkit-flex-basis: 80px; }

.min-width-md {
  min-width: 40px; }

.max-width-md {
  max-width: 40px; }

.max-width-lg {
  max-width: 80px; }

.error_message {
  font-size: 17px;
  position: fixed;
  text-align: center;
  top: 52px;
  width: 100%;
  background: #ff6666;
  padding: 3px 8px;
  cursor: pointer; }

#feedback {
  position: fixed;
  right: 11px;
  top: 44px;
  z-index: 9999; }
  #feedback .feedback-message {
    background: white;
    color: #777;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #777;
    box-shadow: 3px 3px 5px #777, inset 0 0 5px #777; }
    #feedback .feedback-message.error {
      background: #d9534f;
      color: white; }
    #feedback .feedback-message.success {
      background: #5cb85c;
      color: white; }
  #feedback .feedback-message.ng-move,
  #feedback .feedback-message.ng-enter,
  #feedback .feedback-message.ng-leave {
    transition: all linear 0.5s; }
  #feedback .feedback-message.ng-leave.ng-leave-active,
  #feedback .feedback-message.ng-move,
  #feedback .feedback-message.ng-enter {
    left: 200px; }
  #feedback .feedback-message.ng-leave,
  #feedback .feedback-message.ng-move.ng-move-active,
  #feedback .feedback-message.ng-enter.ng-enter-active {
    left: 0; }

.popup-outer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  .popup-outer .popup-inner {
    margin-top: 10%;
    background: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

#entries {
  margin-top: 40px; }
  #entries > div {
    box-shadow: 3px 3px 5px #777; }
    #entries > div .note-container {
      position: relative; }
      #entries > div .note-container:hover .note-popup {
        visibility: visible; }
      #entries > div .note-container .note-icon {
        cursor: default; }
      #entries > div .note-container .note-popup {
        visibility: hidden;
        background: pink;
        position: absolute;
        right: 47px;
        top: 0;
        padding: 15px;
        border-radius: 10px;
        background: white;
        color: #777;
        max-height: 200px;
        overflow: scroll;
        width: 400px; }

#new-entry {
  border: 1px solid #777;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #777; }

#navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  color: #888;
  background: black;
  padding: 0;
  margin: 0; }
  #navbar > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 44px;
    min-width: 70px; }
    #navbar > li > a {
      transition: all 0.5s ease; }
    #navbar > li:hover > a {
      font-size: 25px; }
  #navbar a {
    color: #337ab7; }
  #navbar .gravatar-li {
    min-width: 160px; }
    #navbar .gravatar-li .gravatar-container {
      margin-left: 5px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #navbar .gravatar-li .gravatar-container .gravatar {
        border-radius: 8px;
        height: 32px; }

.bg-dark {
  background: #e0eef3; }

.selected {
  background: #6D84B4; }

/*# sourceMappingURL=style.css.map */
