
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: white;
    height: 100%;
}

body {
	padding-top: 63px;
    color: #777;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

table {
	caption {
		padding: 8px;
		font-weight: bold;
	}
	td,th {
		// padding: 0;
		text-align: center;
	}
	input {
		width: 100%;
		background: transparent;
		border: none;
	}
}

textarea {
	width: 100%;
	height: 70px;
	background: transparent;
}