/*==============================colours==============================*/

/* $income_background: #B0FFC5; */
/* $expense_background: #FFD6C8; */
$reconciled_background: lightgreen;
$select_blue: #6D84B4;

$blue: #94C6E1;
$light_blue: #F2F8FA;
$lightblue: lightblue;
$white: white;
$lightgrey: lightgrey;
$off_white: #F8F8F8;
$black: black;

$header_background: #555555;
$header_color: $white;
/* $income_background: $light_blue;
$expense_background: $light_blue; */
$new_transaction_tr_background: $light_blue;
$expense_color: lighten(red, 20%);

$income_color: green;
$transfer_color: orange;

$bootstrap_red: #f2dede;
$bootstrap_green: #dff0d8;
$bootstrap_yellow: #fcf8e3;